.idea/workspace.xml
.ipynb_checkpoints
*~
*.pyc
ml/apps/*/*.png
.idea/workspace.xml
ml/apps/mnist-rbm-pcd
ml/apps/mnist-rbm-pcd-myupdaterule
ml/apps/mnist-rbm-???-cd??
ml/apps/mnist-???????????????-rbm-???-cd??
notebooks/*-rbm-*-iws*
notebooks/Untitled*.ipynb
ml/apps/old/
ml/apps/shiftnet/*/*.pdf
ml/apps/shiftnet_mb/*/*.pdf
ml/apps/orrbm_shiftstat/*/*
ml/apps/shiftnet/cfgs/
ml/apps/shiftnet/testsets/
ml/apps/idnet/cfgs/
Thumbs.db
ml/apps/skin/cfgs/









