*~
*.pyc
apps/*/*.png
#apps/*/*.npz
.idea/workspace.xml
apps/mnist-rbm-pcd
apps/mnist-rbm-pcd-myupdaterule
apps/mnist-rbm-???-cd??
apps/mnist-???????????????-rbm-???-cd??
notebooks/*-rbm-*-iws*
notebooks/Untitled*.ipynb
apps/old/
apps/shiftnet/*/*.pdf
apps/shiftnet_mb/*/*.pdf
apps/orrbm_shiftstat/*/*
apps/shiftnet/cfgs/
apps/shiftnet/testsets/
apps/idnet/cfg_*









