ml.sln
*.pyc
*.suo
apps/*/*.png
#apps/*/*.npz
apps/mnist-rbm-pcd
apps/mnist-rbm-pcd-myupdaterule
apps/mnist-rbm-???-cd??
apps/mnist-???????????????-rbm-???-cd??
notebooks/*-rbm-*-iws*
notebooks/Untitled*.ipynb
apps/old/
apps/shiftnet/
apps/shiftnet_mb/






